<!DOCTYPE html>
<html ng-app="App">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="assets/angular/angular.min.js"></script>
</head>
<body ng-controller="Ctrl">
    {{user}}<br/>
    <button ng-click="getUser()">getUserList</button>
    <ul>
        <li ng-repeat="u in userList">{{u.id+":"+u.name}}</li>
    </ul>
</body>
<Script>

    var app = angular.module("App",[]);

    /**
     * 此处factory 和 service 是同样效果。可以切换使用。
     */
//    app.service("getUserService",["$http", function ($http) {

    app.factory("getUserService",["$http", function ($http) {
        return {
            getUser: function (u) {
                return "abc"+(u||"");
            },
            getUserList : function (cb) {
                var h = $http({
                    method:"get",
                    url:"10_data.json"
                }).error(function (data, status) {
                    console.log("error");
                }).success(function (data, status) {
                    console.log("typeof cb = "+typeof cb);
                    if( data && typeof cb == "function" ){
                        cb(data);
                    }
                });
                console.log("1");
                return h;
            }
        }
    }]);




    app.controller("Ctrl",['$scope','getUserService', function ($scope, getUS) {

        $scope.user = getUS.getUser();

        $scope.getUser = function () {
            getUS.getUserList(function (data) {
                console.log(2);
                $scope.userList = data;
            });
        };

        console.log($scope.userList);

    }]);

</Script>
</html>