<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="app">
<div ng-controller="Ctrl">
    <table>
        <tr>
            <th><a href="" ng-click="reverse=false;order('name', false)">Name</a>
                (<a href="" ng-click="order('-name',false)">^</a>)</th>
            <th><a href="" ng-click="reverse=!reverse;order('phone', reverse)">Phone Number</a></th>
            <th><a href="" ng-click="reverse=!reverse;order('age',reverse)">Age</a></th>
        </tr>
        <tr ng-repeat="friend in friends">
            <td>{{friend.name}}</td>
            <td>{{friend.phone}}</td>
            <td>{{friend.age}}</td>
        </tr>
    </table>
</div>
</body>
<script src="../assets/angular/angular.js"></script>
<script>


    angular.module('app',[])

        .controller('Ctrl',function ($scope, $filter) {

            var orderBy = $filter('orderBy');

            $scope.friends = [
                { name: 'John',    phone: '555-1212',    age: 10 },
                { name: 'Mary',    phone: '555-9876',    age: 19 },
                { name: 'Mike',    phone: '555-4321',    age: 21 },
                { name: 'Adam',    phone: '555-5678',    age: 35 },
                { name: 'Julie',   phone: '555-8765',    age: 29 }
            ];

            $scope.order = function(predicate, reverse) {
                $scope.friends = orderBy($scope.friends, predicate, reverse);
            };
//                $scope.order('-age',false);

            $scope.friends.sort(function (a, b) {
                console.log(JSON.stringify(a)+':::'+JSON.stringify(b));
                return a.phone > b.phone;
            });

            console.log($scope.friends);

        });
</script>


</html>