<!DOCTYPE html>
<html>

<!--注意<input type="radio">用在ng-repeat内部，但是ng-model绑定的是repeat外部的变量，请注意用a.b的形式，而不要直接用b.-->

<!--应该是ng-repeat会生成一个子scope，直接用ng-model="b"的话会在子scope生成一个变量b。而不会修改外部的b。-->


<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css"/>
</head>
<body ng-app="app" ng-controller="ctrl">

<hr/>
<h2>Which is your favorite?</h2>
<label ng-repeat="name in names" for="{{name}}">
    {{name}}
    <input type="radio"
           ng-model="my.favorite"
           ng-value="name"
           id="{{name}}"
           name="favorite">
</label>
<div>You chose {{my.favorite}}</div>

</body>
<script src="../assets/jquery/jquery-1.11.2.js"></script>
<script src="../assets/bootstrap/js/bootstrap.js"></script>
<script src="../assets/angular/angular.js"></script>
<script>
angular.module('app',[])
        .controller('ctrl', function ($scope, $http) {

            $scope.names = ['pizza', 'unicorns', 'robots'];
            $scope.my = { favorite: 'unicorns' };

        })
</script>
</html>